{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span class="icon"><img src="https://fr.mailjet.com/wp-content/uploads/logo-mailjet-asset.jpg" alt=""/></span>
        <span class="sf-toolbar-status">{{ collector.callCount }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            Mailjet {{ collector.callCount }}
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon"><img src="https://fr.mailjet.com/wp-content/uploads/logo-mailjet-asset.jpg" alt=""/></span>
        <strong>Mailjet</strong>
        {% if collector.callCount > 0 %}
            <span class="count">
                <span>{{ collector.callCount }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Mailjet queries done</h2>
    <table>
        <tr>
            <th>Method</th>
            <th>Resource</th>
            <th>Arguments</th>
        </tr>

        {% for call in collector.data %}
            <tr {% if (false == call.success) %}class="status-warning"{% endif %}>
                <td>{{ call.method }}</td>
                <td>{{ dump(call.resource) }}</td>
                <td>{{ dump(call.args) }}</td>
                <td>{{ dump(call.success) }}</td>
                <td>{{ dump(call.response) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
